h1 {
    margin: 30px 0 10px 0;
}

h4 small
{
    display: block;
    font-size: 60%;
    color: #888;
}

footer.container {
    margin-top: 30px;
    padding: 30px 0;
    border-top: 1px dashed #aaa;
}

.sidebar .atom, .sidebar .stuff, .sidebar .short-films {
    display: none;
}

@media (max-width: 767px) {
    .sidebar {
        padding-top: 30px;
    }
}
@media (min-width: 980px) {
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        padding-bottom: 40px;
    }
}

.title {
    width: 100%!important;
}

.page_content {
    clear: both;
    width: 100%!important;
}

.container {
    width: 90%;
}

@media (min-width: 768px) {
    .title {
        width: auto!important;
    }
    .sidebar .atom, .sidebar .stuff, .sidebar .short-films {
        display: block;
    }
    .page_content {
        clear: right;
        width: 64%!important;
    }
    .container {
        width: 940px;
    }

    .bottom-menu {
        display: none;
    }
}

p.continue {
    text-align: right;
    font-size: 2em;
    margin-top: 1em;
}

article {
    margin-top: 3em;
}
